In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
x_train = pd.read_csv("./datasets/x_train.csv")

In [73]:
x_test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [70]:
x_train = pd.read_csv("./datasets/x_train.csv")
y_train = pd.read_csv("./datasets/y_train.csv")
x_test = pd.read_csv("./datasets/x_test.csv")
y_test = pd.read_csv("./datasets/test_rand.csv")
with open("./datasets/df_train_new_features.txt", "r") as f:
    new_features = eval(f.read())

    # calc_signature(df_train_sig_prepared, order=3, new_features=new_features, filename="df_train", save=True)
    # calc_signature(df_test_sig_prepared, order=3, new_features=new_features, filename="df_test", save=True)

# # RIDGE REGRESSION BY SECTOR
loaded_train = np.load("./datasets/df_train_signature_data.npz")
loaded_test = np.load("./datasets/df_test_signature_data.npz")

df_train_final = pd.DataFrame(data=loaded_train['data'], columns=loaded_train['features'])
df_test_final = pd.DataFrame(data=loaded_test['data'], columns=loaded_test['features'])

df_train_new_features = pd.read_parquet("./datasets/df_train_new_features.parquet")
df_test_new_features = pd.read_parquet("./datasets/df_test_new_features.parquet")

y_dict_train_RET = y_train.set_index('ID')['RET'].to_dict()
y_dict_test_RET = y_test.set_index('ID')['RET'].to_dict()

df_train_final['RET'] = df_train_final['ID'].map(y_dict_train_RET)
df_test_final['RET'] = df_test_final['ID'].map(y_dict_test_RET)

for feature in new_features:
    y_dict_train_new_feature = df_train_new_features.set_index('ID')[feature].to_dict()
    y_dict_test_new_features = df_test_new_features.set_index('ID')[feature].to_dict()
    df_train_final[feature] = df_train_final['ID'].map(y_dict_train_new_feature) 
    df_test_final[feature] = df_test_final['ID'].map(y_dict_test_new_features)

In [72]:
df_test_final

,STOCK,ID,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,SIG_0,SIG_1,SIG_2,SIG_3,...,SIG_39,RET,std_RET_20days,skew_RET_20days,kurtosis_RET_20days,median_RET_20days,std_VOL_20days,skew_VOL_20days,kurtosis_VOL_20days,median_VOL_20days
0,0.0,418595.0,37.0,12.0,5.0,94.0,1.0,0.003152,0.153397,19.0,...,1143.166667,True,0.008534,0.826961,1.127886,0.001026,0.224124,-0.113193,-0.847788,-0.162393
1,0.0,421424.0,37.0,12.0,5.0,94.0,1.0,0.007171,0.066912,19.0,...,1143.166667,False,0.011020,0.595277,0.429663,0.002983,0.264653,1.493884,2.437368,-0.041430
2,0.0,424432.0,37.0,12.0,5.0,94.0,1.0,-0.001259,1.475314,19.0,...,1143.166667,True,0.009043,-0.604536,-0.430667,-0.000300,0.504575,0.695232,-0.832255,0.002063
3,0.0,427427.0,37.0,12.0,5.0,94.0,1.0,0.003561,-1.084983,19.0,...,1143.166667,True,0.011044,0.381890,-0.754103,-0.004301,0.448560,1.583919,2.314571,-0.285449
4,0.0,430370.0,37.0,12.0,5.0,94.0,1.0,0.025230,-0.068874,19.0,...,1143.166667,False,0.019823,-0.376862,-0.790015,-0.004215,0.262117,1.835642,3.268216,-0.085417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,5716.0,605110.0,50.0,17.0,7.0,114.0,1.0,0.013955,-0.340761,19.0,...,1143.166667,False,0.013968,0.323931,-0.532474,0.002384,0.324817,1.791916,3.842041,-0.223153
198425,5716.0,608080.0,50.0,17.0,7.0,114.0,1.0,0.007808,-0.252318,19.0,...,1143.166667,True,0.014082,0.443164,-0.865822,0.002733,0.312024,1.723400,5.149756,-0.049573
198426,5716.0,611029.0,50.0,17.0,7.0,114.0,1.0,-0.000346,-0.143134,19.0,...,1143.166667,True,0.010187,0.252728,-0.216024,-0.000137,0.197559,0.624161,-0.758207,-0.166433
198427,5716.0,614018.0,50.0,17.0,7.0,114.0,1.0,0.017920,-0.039487,19.0,...,1143.166667,False,0.011630,0.365385,0.959860,0.000772,0.194400,-0.101281,-0.177575,-0.201486
198428,5716.0,617023.0,50.0,17.0,7.0,114.0,1.0,-0.017518,-0.798184,19.0,...,1143.166667,False,0.016804,0.235024,0.064824,0.002660,0.365234,0.946708,-0.381457,-0.391538

In [46]:
s1 = set(df_train_final.STOCK.unique())
s2 = set(df_test_final.STOCK.unique())
len(s1), len(s2)

(5350, 5106)

In [54]:
(s1.union(s2)).difference(s1)

{np.float64(37.0),
 np.float64(61.0),
 np.float64(185.0),
 np.float64(292.0),
 np.float64(301.0),
 np.float64(335.0),
 np.float64(400.0),
 np.float64(423.0),
 np.float64(732.0),
 np.float64(815.0),
 np.float64(902.0),
 np.float64(903.0),
 np.float64(925.0),
 np.float64(926.0),
 np.float64(981.0),
 np.float64(1016.0),
 np.float64(1024.0),
 np.float64(1026.0),
 np.float64(1030.0),
 np.float64(1051.0),
 np.float64(1054.0),
 np.float64(1069.0),
 np.float64(1079.0),
 np.float64(1092.0),
 np.float64(1095.0),
 np.float64(1096.0),
 np.float64(1113.0),
 np.float64(1120.0),
 np.float64(1162.0),
 np.float64(1163.0),
 np.float64(1476.0),
 np.float64(1525.0),
 np.float64(1542.0),
 np.float64(1549.0),
 np.float64(1585.0),
 np.float64(1609.0),
 np.float64(1620.0),
 np.float64(1673.0),
 np.float64(1678.0),
 np.float64(1690.0),
 np.float64(1695.0),
 np.float64(1719.0),
 np.float64(1723.0),
 np.float64(1754.0),
 np.float64(1758.0),
 np.float64(1818.0),
 np.float64(1827.0),
 np.float64(1828.0),
 np.float64(1836.0),
 np.float64(1843.0),
 np.float64(1863.0),
 np.float64(1872.0),
 np.float64(1875.0),
 np.float64(1887.0),
 np.float64(1935.0),
 np.float64(1938.0),
 np.float64(1944.0),
 np.float64(1947.0),
 np.float64(1967.0),
 np.float64(1994.0),
 np.float64(1995.0),
 np.float64(2015.0),
 np.float64(2026.0),
 np.float64(2027.0),
 np.float64(2039.0),
 np.float64(2058.0),
 np.float64(2069.0),
 np.float64(2079.0),
 np.float64(2082.0),
 np.float64(2094.0),
 np.float64(2109.0),
 np.float64(2153.0),
 np.float64(2159.0),
 np.float64(2191.0),
 np.float64(2248.0),
 np.float64(2332.0),
 np.float64(2357.0),
 np.float64(2359.0),
 np.float64(2368.0),
 np.float64(2371.0),
 np.float64(2376.0),
 np.float64(2377.0),
 np.float64(2384.0),
 np.float64(2391.0),
 np.float64(2392.0),
 np.float64(2396.0),
 np.float64(2406.0),
 np.float64(2408.0),
 np.float64(2410.0),
 np.float64(2411.0),
 np.float64(2412.0),
 np.float64(2413.0),
 np.float64(2415.0),
 np.float64(2416.0),
 np.float64(2417.0),
 np.float64(2418.0),
 np.float64(2419.0),
 np.float64(2420.0),
 np.float64(2422.0),
 np.float64(2423.0),
 np.float64(2424.0),
 np.float64(2425.0),
 np.float64(2428.0),
 np.float64(2429.0),
 np.float64(2430.0),
 np.float64(2431.0),
 np.float64(2432.0),
 np.float64(2436.0),
 np.float64(2451.0),
 np.float64(2460.0),
 np.float64(2464.0),
 np.float64(2465.0),
 np.float64(2466.0),
 np.float64(2468.0),
 np.float64(2476.0),
 np.float64(2502.0),
 np.float64(2504.0),
 np.float64(2505.0),
 np.float64(2519.0),
 np.float64(2539.0),
 np.float64(2545.0),
 np.float64(2546.0),
 np.float64(2552.0),
 np.float64(2560.0),
 np.float64(2562.0),
 np.float64(2563.0),
 np.float64(2564.0),
 np.float64(2565.0),
 np.float64(2566.0),
 np.float64(2567.0),
 np.float64(2569.0),
 np.float64(2574.0),
 np.float64(2575.0),
 np.float64(2576.0),
 np.float64(2577.0),
 np.float64(2578.0),
 np.float64(2579.0),
 np.float64(2581.0),
 np.float64(2582.0),
 np.float64(2583.0),
 np.float64(2584.0),
 np.float64(2585.0),
 np.float64(2586.0),
 np.float64(2587.0),
 np.float64(2588.0),
 np.float64(2589.0),
 np.float64(2590.0),
 np.float64(2591.0),
 np.float64(2592.0),
 np.float64(2593.0),
 np.float64(2594.0),
 np.float64(2595.0),
 np.float64(2596.0),
 np.float64(2597.0),
 np.float64(2598.0),
 np.float64(2600.0),
 np.float64(2601.0),
 np.float64(2602.0),
 np.float64(2603.0),
 np.float64(2604.0),
 np.float64(2607.0),
 np.float64(2609.0),
 np.float64(2610.0),
 np.float64(2611.0),
 np.float64(2612.0),
 np.float64(2613.0),
 np.float64(2614.0),
 np.float64(2615.0),
 np.float64(2616.0),
 np.float64(2617.0),
 np.float64(2618.0),
 np.float64(2619.0),
 np.float64(2620.0),
 np.float64(2621.0),
 np.float64(2622.0),
 np.float64(2623.0),
 np.float64(2624.0),
 np.float64(2625.0),
 np.float64(2626.0),
 np.float64(2627.0),
 np.float64(2628.0),
 np.float64(2629.0),
 np.float64(2630.0),
 np.float64(2631.0),
 np.float64(2632.0),
 np.float64(2633.0),
 np.float64(2634.0),
 np.float64(2635.0),
 np.float64(2636.0),
 np.float64(2637.0),
 np.float64(2638.0),
 np.float64(2639.0),
 np.float64(2640.0),
 np.float64(2641.0),
 np.float64(2642.0),
 np.float64(2643.0),
 np.float64(2644.0),
 np.float64(2645.0),
 np.float64(2646.0),
 np.float64(2647.0),
 np.float64(2648.0),
 np.float64(2649.0),
 np.float64(2650.0),
 np.float64(2651.0),
 np.float64(2652.0),
 np.float64(2653.0),
 np.float64(2654.0),
 np.float64(2655.0),
 np.float64(2656.0),
 np.float64(2657.0),
 np.float64(2658.0),
 np.float64(2659.0),
 np.float64(2660.0),
 np.float64(2661.0),
 np.float64(2662.0),
 np.float64(2663.0),
 np.float64(2664.0),
 np.float64(2665.0),
 np.float64(2666.0),
 np.float64(2667.0),
 np.float64(2668.0),
 np.float64(2669.0),
 np.float64(2670.0),
 np.float64(2671.0),
 np.float64(2672.0),
 np.float64(2673.0),
 np.float64(2674.0),
 np.float64(2675.0),
 np.float64(2676.0),
 np.float64(2677.0),
 np.float64(2678.0),
 np.float64(2679.0),
 np.float64(2680.0),
 np.float64(2681.0),
 np.float64(2682.0),
 np.float64(2683.0),
 np.float64(2684.0),
 np.float64(2685.0),
 np.float64(2686.0),
 np.float64(2687.0),
 np.float64(2688.0),
 np.float64(2689.0),
 np.float64(2690.0),
 np.float64(2691.0),
 np.float64(2692.0),
 np.float64(2693.0),
 np.float64(2694.0),
 np.float64(2695.0),
 np.float64(2696.0),
 np.float64(2697.0),
 np.float64(2698.0),
 np.float64(2699.0),
 np.float64(2700.0),
 np.float64(2701.0),
 np.float64(2702.0),
 np.float64(2703.0),
 np.float64(2704.0),
 np.float64(2705.0),
 np.float64(2706.0),
 np.float64(2707.0),
 np.float64(2708.0),
 np.float64(2709.0),
 np.float64(2710.0),
 np.float64(2711.0),
 np.float64(2712.0),
 np.float64(2713.0),
 np.float64(2714.0),
 np.float64(2715.0),
 np.float64(2716.0),
 np.float64(2717.0),
 np.float64(2718.0),
 np.float64(2719.0),
 np.float64(2720.0),
 np.float64(2721.0),
 np.float64(2722.0),
 np.float64(2723.0),
 np.float64(2724.0),
 np.float64(2725.0),
 np.float64(2726.0),
 np.float64(2727.0),
 np.float64(2728.0),
 np.float64(2729.0),
 np.float64(2735.0),
 np.float64(2746.0),
 np.float64(2747.0),
 np.float64(2748.0),
 np.float64(2749.0),
 np.float64(2754.0),
 np.float64(2755.0),
 np.float64(2756.0),
 np.float64(2757.0),
 np.float64(2758.0),
 np.float64(2760.0),
 np.float64(2763.0),
 np.float64(2764.0),
 np.float64(2765.0),
 np.float64(2766.0),
 np.float64(2767.0),
 np.float64(2771.0),
 np.float64(2772.0),
 np.float64(2773.0),
 np.float64(2774.0),
 np.float64(2775.0),
 np.float64(2776.0),
 np.float64(2777.0),
 np.float64(2778.0),
 np.float64(2779.0),
 np.float64(2780.0),
 np.float64(2781.0),
 np.float64(2782.0),
 np.float64(2783.0),
 np.float64(2784.0),
 np.float64(2785.0),
 np.float64(2796.0),
 np.float64(2797.0),
 np.float64(2799.0),
 np.float64(2800.0),
 np.float64(2803.0),
 np.float64(2809.0),
 np.float64(2810.0),
 np.float64(2811.0),
 np.float64(2812.0),
 np.float64(2813.0),
 np.float64(2816.0),
 np.float64(2817.0),
 np.float64(2818.0),
 np.float64(2826.0),
 np.float64(2830.0),
 np.float64(2831.0),
 np.float64(2834.0),
 np.float64(2835.0),
 np.float64(2836.0),
 np.float64(2838.0),
 np.float64(2843.0),
 np.float64(2844.0),
 np.float64(2845.0),
 np.float64(2847.0),
 np.float64(2858.0),
 np.float64(2859.0),
 np.float64(2860.0),
 np.float64(2861.0),
 np.float64(2862.0),
 np.float64(2863.0),
 np.float64(2864.0),
 np.float64(2865.0),
 np.float64(2870.0),
 np.float64(2871.0),
 np.float64(2899.0),
 np.float64(2907.0),
 np.float64(2908.0),
 np.float64(3081.0),
 np.float64(3229.0),
 np.float64(3459.0),
 np.float64(3505.0),
 np.float64(3520.0),
 np.float64(3685.0),
 np.float64(3947.0),
 np.float64(4031.0),
 np.float64(4121.0),
 np.float64(4140.0),
 np.float64(4194.0),
 np.float64(4219.0),
 np.float64(4601.0),
 np.float64(4673.0),
 np.float64(5053.0),
 np.float64(5131.0),
 np.float64(5138.0)}

In [64]:
df_train_sig_prepared.query("STOCK == 1")

,ID,STOCK,DAY,DATE,RET,VOLUME,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY
1419,2378,1,1,1,-0.016651,0.0,15,4,3,37
1418,2378,1,2,1,-0.009427,0.0,15,4,3,37
1417,2378,1,3,1,-0.003496,0.0,15,4,3,37
1416,2378,1,4,1,-0.017834,0.0,15,4,3,37
1415,2378,1,5,1,-0.016948,0.0,15,4,3,37
...,...,...,...,...,...,...,...,...,...,...
3444,413371,1,16,221,-0.033215,0.0,15,4,3,37
3443,413371,1,17,221,-0.049053,0.0,15,4,3,37
3442,413371,1,18,221,-0.006366,0.0,15,4,3,37
3441,413371,1,19,221,0.020101,0.0,15,4,3,37
3440,413371,1,20,221,0.003525,0.0,15,4,3,37

In [68]:
df_train_final[df_train_final["STOCK"] == 2]

,STOCK,ID,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,SIG_0,SIG_1,SIG_2,SIG_3,...,SIG_151,SIG_152,SIG_153,SIG_154,SIG_155,RET,1_SECTOR_DATE_skew_RET,1_SECTOR_DATE_skew_VOLUME,5_SECTOR_DATE_skew_RET,5_SECTOR_DATE_skew_VOLUME
173,2.0,0.0,18.0,5.0,3.0,44.0,1.0,-0.013716,0.148869,19.0,...,-0.005614,0.009104,2.297280,-0.001418,0.019087,True,0.045788,9.209751,-0.688481,3.256975
174,2.0,10866.0,18.0,5.0,3.0,44.0,1.0,0.021504,-5.005093,19.0,...,-0.013271,-8.851192,14.038149,0.064432,0.001878,False,-0.831344,5.558539,0.164932,11.171165
175,2.0,13258.0,18.0,5.0,3.0,44.0,1.0,0.034525,0.052004,19.0,...,-0.003280,0.024280,2.599096,0.001402,0.000868,False,-0.891231,3.572914,0.749523,5.857394
176,2.0,18512.0,18.0,5.0,3.0,44.0,1.0,-0.076264,-1.541566,19.0,...,-0.008956,-0.183093,2.067651,0.005037,0.015275,False,-0.259982,4.887550,1.185935,3.856964
177,2.0,23767.0,18.0,5.0,3.0,44.0,1.0,0.037287,2.359662,19.0,...,0.002258,0.506004,1.673813,0.005847,0.211071,False,2.078058,5.410870,2.717348,17.850679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2.0,403131.0,18.0,5.0,3.0,44.0,1.0,-0.003260,0.356186,19.0,...,-0.000652,-0.090601,1.331536,0.000075,0.003457,False,1.717539,3.402941,2.134280,2.581459
246,2.0,405821.0,18.0,5.0,3.0,44.0,1.0,0.055388,-0.170866,19.0,...,0.004864,-0.032160,0.696207,0.001859,0.012398,False,-0.051011,4.924833,-1.106416,14.783103
247,2.0,408288.0,18.0,5.0,3.0,44.0,1.0,-0.009322,-0.079230,19.0,...,0.004259,-0.155918,1.992073,0.000238,0.001586,True,-0.186292,10.545207,-0.496019,4.478525
248,2.0,410734.0,18.0,5.0,3.0,44.0,1.0,0.053507,0.528029,19.0,...,-0.003621,-0.347644,2.373425,0.005488,0.004051,False,0.780860,2.293272,1.339545,5.396957
249,2.0,416229.0,18.0,5.0,3.0,44.0,1.0,-0.084066,-1.748182,19.0,...,-0.030288,-0.212423,3.837375,0.004723,0.001316,True,-2.306417,6.977477,0.193703,5.274225

In [26]:
df_train_sig_prepared = pd.read_parquet("./datasets/df_train.parquet")
df_train_sig_prepared

,ID,STOCK,DAY,DATE,RET,VOLUME,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY
19,2377,0,1,1,-0.019463,-0.291751,37,12,5,94
18,2377,0,2,1,0.005114,-0.324675,37,12,5,94
17,2377,0,3,1,-0.001064,-0.351363,37,12,5,94
16,2377,0,4,1,-0.007689,-0.585497,37,12,5,94
15,2377,0,5,1,-0.009262,-0.493354,37,12,5,94
...,...,...,...,...,...,...,...,...,...,...
8371884,416228,5716,16,221,-0.003120,-0.276386,50,17,7,114
8371883,416228,5716,17,221,-0.056791,-0.059554,50,17,7,114
8371882,416228,5716,18,221,0.006046,-0.296746,50,17,7,114
8371881,416228,5716,19,221,0.024358,-0.189710,50,17,7,114
8371880,416228,5716,20,221,-0.021623,-0.176100,50,17,7,114

In [27]:
y_train = pd.read_csv("./datasets/y_train.csv")

with open("./datasets/df_train_new_features.txt", "r") as f:
    new_features = eval(f.read())

loaded_train = np.load("./datasets/df_train_signature_data.npz")
df_train_final = pd.DataFrame(data=loaded_train['data'], columns=loaded_train['features'])

In [28]:
df_train_final

,STOCK,ID,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,SIG_0,SIG_1,SIG_2,SIG_3,...,SIG_249,SIG_250,SIG_251,SIG_252,SIG_253,SIG_254,SIG_255,SIG_256,SIG_257,SIG_258
0,0.0,2377.0,37.0,12.0,5.0,94.0,1.0,0.013478,0.428449,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,5198.0,37.0,12.0,5.0,94.0,1.0,0.011891,-0.218929,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,8017.0,37.0,12.0,5.0,94.0,1.0,-0.010962,0.452785,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,20826.0,37.0,12.0,5.0,94.0,1.0,0.000254,0.657544,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,33843.0,37.0,12.0,5.0,94.0,1.0,0.032979,-1.592417,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418590,5716.0,391556.0,50.0,17.0,7.0,114.0,1.0,0.044924,0.153095,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418591,5716.0,394490.0,50.0,17.0,7.0,114.0,1.0,0.000129,0.108667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418592,5716.0,400150.0,50.0,17.0,7.0,114.0,1.0,-0.013193,0.308652,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418593,5716.0,403129.0,50.0,17.0,7.0,114.0,1.0,0.010215,0.514191,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418594,5716.0,416228.0,50.0,17.0,7.0,114.0,1.0,-0.014702,0.291550,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_train_new_features = pd.read_parquet("./datasets/df_train_new_features.parquet")
df_train_new_features

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20,1_SECTOR_DATE_skew_RET,1_SECTOR_DATE_skew_VOLUME,5_SECTOR_DATE_skew_RET,5_SECTOR_DATE_skew_VOLUME
0,2377,1,0,37,12,5,94,-0.005985,0.136699,0.008990,...,-0.001064,-0.351363,0.005114,-0.324675,-0.019463,-0.291751,1.659125,2.188420,-1.051060,3.906403
1,5198,4,0,37,12,5,94,0.001347,-0.269520,0.011039,...,0.007704,-0.405243,-0.003281,-0.424336,-0.010544,-0.050591,0.177727,4.745040,-0.761430,2.015398
2,8017,5,0,37,12,5,94,-0.014510,0.192655,0.003607,...,0.002926,-0.315935,0.010408,-0.474957,-0.003547,-0.260130,-1.516850,5.387256,-0.099123,1.482673
3,20826,11,0,37,12,5,94,0.008898,0.430916,0.002659,...,0.018859,-0.230167,-0.000287,-0.312123,0.008644,-0.226628,-2.402137,4.307523,1.516543,8.930770
4,33843,21,0,37,12,5,94,-0.006544,-0.060371,-0.007661,...,-0.001462,-0.095494,0.012588,0.471895,-0.039523,1.532045,0.249438,2.493065,1.350500,4.598810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418590,391556,206,5716,50,17,7,114,0.029123,-0.075091,-0.001429,...,0.002273,-0.106224,-0.035209,0.123750,-0.015800,-0.228186,1.377918,4.903979,-3.893317,10.767246
418591,394490,208,5716,50,17,7,114,0.008282,0.028099,-0.006711,...,0.008698,-0.159294,0.026983,-0.022922,0.008153,-0.080569,-0.375424,2.546299,0.368261,4.790324
418592,400150,210,5716,50,17,7,114,-0.004644,-0.173518,0.001686,...,-0.036467,-0.262389,0.000896,-0.172450,0.008549,-0.482171,0.635207,10.081638,0.385777,3.379583
418593,403129,211,5716,50,17,7,114,0.010824,0.172313,0.008805,...,-0.011494,-0.142636,0.011190,-0.224195,0.000609,-0.341878,-0.779388,2.695901,-2.680417,2.133344
418594,416228,221,5716,50,17,7,114,-0.021623,-0.176100,0.024358,...,0.031889,-1.587177,-0.044791,-0.387343,-0.006921,-0.467651,-2.586487,5.915340,2.471098,9.142508

In [ ]:
y_dict_train_RET = y_train.set_index('ID')['RET'].to_dict()

In [14]:
df_train_final['RET'] = df_train_final['ID'].map(y_dict_train_RET)

In [16]:
new_features

['1_SECTOR_DATE_skew_RET',
 '1_SECTOR_DATE_skew_VOLUME',
 '5_SECTOR_DATE_skew_RET',
 '5_SECTOR_DATE_skew_VOLUME']

In [18]:
for feature in new_features:
    y_dict_train_new_feature = df_train_new_features.set_index('ID')[feature].to_dict()
    df_train_final[feature] = df_train_final['ID'].map(y_dict_train_new_feature)

In [19]:
df_train_final

,STOCK,ID,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,SIG_0,SIG_1,SIG_2,SIG_3,...,SIG_395,SIG_396,SIG_397,SIG_398,SIG_399,RET,1_SECTOR_DATE_skew_RET,1_SECTOR_DATE_skew_VOLUME,5_SECTOR_DATE_skew_RET,5_SECTOR_DATE_skew_VOLUME
0,0.0,2377.0,37.0,12.0,5.0,94.0,1.0,0.013478,0.428449,19.0,...,0.0,0.0,0.0,0.0,0.0,False,1.659125,2.188420,-1.051060,3.906403
1,0.0,5198.0,37.0,12.0,5.0,94.0,1.0,0.011891,-0.218929,19.0,...,0.0,0.0,0.0,0.0,0.0,False,0.177727,4.745040,-0.761430,2.015398
2,0.0,8017.0,37.0,12.0,5.0,94.0,1.0,-0.010962,0.452785,19.0,...,0.0,0.0,0.0,0.0,0.0,True,-1.516850,5.387256,-0.099123,1.482673
3,0.0,20826.0,37.0,12.0,5.0,94.0,1.0,0.000254,0.657544,19.0,...,0.0,0.0,0.0,0.0,0.0,True,-2.402137,4.307523,1.516543,8.930770
4,0.0,33843.0,37.0,12.0,5.0,94.0,1.0,0.032979,-1.592417,19.0,...,0.0,0.0,0.0,0.0,0.0,False,0.249438,2.493065,1.350500,4.598810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418590,5716.0,391556.0,50.0,17.0,7.0,114.0,1.0,0.044924,0.153095,19.0,...,0.0,0.0,0.0,0.0,0.0,True,1.377918,4.903979,-3.893317,10.767246
418591,5716.0,394490.0,50.0,17.0,7.0,114.0,1.0,0.000129,0.108667,19.0,...,0.0,0.0,0.0,0.0,0.0,True,-0.375424,2.546299,0.368261,4.790324
418592,5716.0,400150.0,50.0,17.0,7.0,114.0,1.0,-0.013193,0.308652,19.0,...,0.0,0.0,0.0,0.0,0.0,False,0.635207,10.081638,0.385777,3.379583
418593,5716.0,403129.0,50.0,17.0,7.0,114.0,1.0,0.010215,0.514191,19.0,...,0.0,0.0,0.0,0.0,0.0,True,-0.779388,2.695901,-2.680417,2.133344
418594,5716.0,416228.0,50.0,17.0,7.0,114.0,1.0,-0.014702,0.291550,19.0,...,0.0,0.0,0.0,0.0,0.0,True,-2.586487,5.915340,2.471098,9.142508

In [3]:
loaded_train['data']

array([[0.00000e+00, 2.37700e+03, 3.70000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [0.00000e+00, 5.19800e+03, 3.70000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [0.00000e+00, 8.01700e+03, 3.70000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [5.71600e+03, 4.00150e+05, 5.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [5.71600e+03, 4.03129e+05, 5.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [5.71600e+03, 4.16228e+05, 5.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [7]:
loaded_train['features']

array(['STOCK', 'ID', 'INDUSTRY', 'INDUSTRY_GROUP', 'SECTOR',
       'SUB_INDUSTRY', 'SIG_0', 'SIG_1', 'SIG_2', 'SIG_3', 'SIG_4',
       'SIG_5', 'SIG_6', 'SIG_7', 'SIG_8', 'SIG_9', 'SIG_10', 'SIG_11',
       'SIG_12', 'SIG_13', 'SIG_14', 'SIG_15', 'SIG_16', 'SIG_17',
       'SIG_18', 'SIG_19', 'SIG_20', 'SIG_21', 'SIG_22', 'SIG_23',
       'SIG_24', 'SIG_25', 'SIG_26', 'SIG_27', 'SIG_28', 'SIG_29',
       'SIG_30', 'SIG_31', 'SIG_32', 'SIG_33', 'SIG_34', 'SIG_35',
       'SIG_36', 'SIG_37', 'SIG_38', 'SIG_39', 'SIG_40', 'SIG_41',
       'SIG_42', 'SIG_43', 'SIG_44', 'SIG_45', 'SIG_46', 'SIG_47',
       'SIG_48', 'SIG_49', 'SIG_50', 'SIG_51', 'SIG_52', 'SIG_53',
       'SIG_54', 'SIG_55', 'SIG_56', 'SIG_57', 'SIG_58', 'SIG_59',
       'SIG_60', 'SIG_61', 'SIG_62', 'SIG_63', 'SIG_64', 'SIG_65',
       'SIG_66', 'SIG_67', 'SIG_68', 'SIG_69', 'SIG_70', 'SIG_71',
       'SIG_72', 'SIG_73', 'SIG_74', 'SIG_75', 'SIG_76', 'SIG_77',
       'SIG_78', 'SIG_79', 'SIG_80', 'SIG_81', 'SIG_82', 'SIG_83',
       'SIG_84', 'SIG_85', 'SIG_86', 'SIG_87', 'SIG_88', 'SIG_89',
       'SIG_90', 'SIG_91', 'SIG_92', 'SIG_93', 'SIG_94', 'SIG_95',
       'SIG_96', 'SIG_97', 'SIG_98', 'SIG_99', 'SIG_100', 'SIG_101',
       'SIG_102', 'SIG_103', 'SIG_104', 'SIG_105', 'SIG_106', 'SIG_107',
       'SIG_108', 'SIG_109', 'SIG_110', 'SIG_111', 'SIG_112', 'SIG_113',
       'SIG_114', 'SIG_115', 'SIG_116', 'SIG_117', 'SIG_118', 'SIG_119',
       'SIG_120', 'SIG_121', 'SIG_122', 'SIG_123', 'SIG_124', 'SIG_125',
       'SIG_126', 'SIG_127', 'SIG_128', 'SIG_129', 'SIG_130', 'SIG_131',
       'SIG_132', 'SIG_133', 'SIG_134', 'SIG_135', 'SIG_136', 'SIG_137',
       'SIG_138', 'SIG_139', 'SIG_140', 'SIG_141', 'SIG_142', 'SIG_143',
       'SIG_144', 'SIG_145', 'SIG_146', 'SIG_147', 'SIG_148', 'SIG_149',
       'SIG_150', 'SIG_151', 'SIG_152', 'SIG_153', 'SIG_154', 'SIG_155'],
      dtype='<U14')